[submodule "glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = Dependencies/glad
	url = https://github.com/nigels-com/glew
[submodule "fmt"]
	path = Dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
